
body {
  background-color: lightblue;
}

.perButton{
  /* display: none; */
  font-size: 18px;
  margin: auto;
}

.displayButton{
  display: block;
  font-size: 12px;
  margin: auto;
}

.button{
  display: block;
  position: fixed;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 4%;
}

#topBtn {
  bottom: 20px;
  right: 20px;
  background-color: rgb(131, 204, 228);
}

#topBtn[disabled] {
  opacity: 25%;
}

#hideBtn {
  bottom: 20px;
  left: 10px;
  background-color: lightblue;
  color: lightblue;
}

#hideBtn:hover {
  color: rgb(142, 209, 231);
  /* color: lightblue; */
}

#saveBtn {
  top: 20px;
  right: 20px;
  background-color: rgb(131, 204, 228);
}

#saveBtn[disabled] {
  opacity: 25%;
}

#removeBtn {
  top: 80px;
  right: 20px;
  background-color: rgb(131, 204, 228);
}

#removeBtn[disabled] {
  opacity: 25%;
}

#goBtn {
  top: 170px;
  right: 20px;
  background-color: rgb(131, 204, 228);
}

#goBtn[disabled] {
  opacity: 25%;
}

#themeBtn {
  top: 20px;
  display: block;
  left: 20px;
  background-color: rgb(131, 204, 228);
}

.center {
  text-align: center;
  margin: 0 auto;
}


#locations {
  position: fixed;
  display: block;
  top: 140px;
  right: 20px;
  width: 4%;
}

#description {
  position: fixed;
  display: none;
  resize: none;
  top: 110px;
  left: 20px;
  width: 10%;
}

#settings{
  display: none;
}

#pageSelection{
  display: none;
}

#forPage{
  display: none;
}

/* dark mode */

.dark-mode {
  background-color: rgb(37, 25, 43);
  color: white; 
}


#themeBtn.dark-mode  {
  background-color: rgb(58, 39, 68);
  color: white;
}


#topBtn.dark-mode  {
  background-color: rgb(58, 39, 68);
  color: white;
}

#hideBtn.dark-mode  {
  background-color: rgb(37, 25, 43);
  color: rgb(37, 25, 43); 

}

#hideBtn.dark-mode:hover  {
  background-color: rgb(37, 25, 43);
  color: rgb(58, 39, 68);

}
/* color: rgb(58, 39, 68); */


#saveBtn.dark-mode  {
  background-color: rgb(58, 39, 68);
  color: white;
}


#removeBtn.dark-mode  {
  background-color: rgb(58, 39, 68);
  color: white;
}


#goBtn.dark-mode  {
  background-color: rgb(58, 39, 68);
  color: white;
}

