.button{
  display: none;
  position: fixed;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn {
  bottom: 20px;
  right: 30px;
  background-color: rgb(131, 204, 228);
}

#hideBtn {
  bottom: 20px;
  left: 30px;
  background-color: lightblue;
  color: lightblue;
}

#saveBtn {
  top: 20px;
  right: 30px;
  background-color: rgb(131, 204, 228);
}

#hideBtn:hover {
  color: rgb(142, 209, 231);
  /* color: lightblue; */
}

#display {
  text-align: center;
}

#body {
  background-color: lightblue;
}

#locations {
  position: fixed;
  display: none;
  top: 20px;
  left: 30px;
}