.button {
  border-radius: 15px;
  padding: 15px;
}

.dropzone {
  /* background-color: red; */
  height: 100%;
  line-height: calc(50);
  border: 1px;
  border-style: dashed;
  border-radius: 15px;
  margin: 10px;
}
